@import "./variables.scss";
* {    
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $black;
  text-align: left;
}
body{
  margin: 0;
  overflow: hidden;
}
.button {
  transition: all 0.3s;
  background-color: $lightBlue;
  border: none;
  color: $white;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  padding: 0.7rem 1rem;
  &:hover{
   background-color: $deepLightBlue;
  }
}
.auth {
  background: $white; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  &__body {
    width: 400px;
    box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
    border-radius: 10px;
    overflow: hidden;
  }
  &__header {
  text-align: center;
  padding: 1rem;
}
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center
  }
  &__form{
     width: 100%;
  }
  &__form_item{
    text-align: center;
    width: 100%;
  }
  &__form_input{        
    background-color: $lightGray;
    border: none;
    color: $black;
    padding: 15px 32px;
    text-align: center;
    margin: 5px;
    width: 80%;
    border: 2px solid $lightGray;
    border-radius: 5px 5px 5px 5px;
    }
  &__form_button{
    padding: 15px 80px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
    margin: 5px 20px 40px 20px;
  }
  &__footer {
    padding: 2rem;
    border-top: 1px solid $gray;
    background-color: $lightGray;
    display: flex;
    justify-content: center;
    align-items:center
  }
  &__footer_title{
    padding-right: 2rem;
  }
}
.taskBar {
  height: 8vh;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  padding-right: 2rem;
  &__item {
    margin: 0.5rem
  }
  &__item_button {}
}
.gallery {
height: 92vh;
  flex-direction: row;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
    &__item {
      margin: 1rem;
      display: inline-block;
      width: 500px;
      border:1px solid $gray;
      box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
      }
    &__item_image{
      width: 100%;
      background-color: #ffffff;
      max-height: 100%;
      min-width: 100%;
      object-fit: cover;
      vertical-align: bottom;
    }
  }
.paint {
  display:flex;
  justify-content: center;
  align-items:center;
  &__draw-area{
    border:1px solid $gray;
    background-color: $white;
    box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
  }
  &__instruments{
    width:160px;
    background-color: $white;
    border:1px solid $gray;
    z-index: 1;
    padding: 1rem;

  }
  &__instruments_item{
    margin:3px;
    padding: 3px;
    display: inline-block;
  }
  &__instruments_item_button{
    display: inline-block;
    min-width: 35px;
    margin: 3px;
    padding: 3px;
  }
  &__instruments_item_input{
    width: 100%;
  }
}
.save_button {
  width: 100%;
  display: flex;
  justify-content: flex-end
}
.activeTool {
  border: 3px solid $gray;
}

@import "./reset.scss";
